@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="imageBanner">
    <figure>
        <img src="~/Assets/DinoDiner-24.png"/>
    </figure>
</div>

<div id="listItems">
    <ul>
        <li>
            <a asp-page="/Menu">Menu</a>
        </li>
        <li>
            <a asp-page="/Privacy">Privacy Policy</a>
        </li>
        <li>
            <a asp-page="/About">About</a>
        </li>
    </ul>
</div>